
my-app/node_modules/.bin/ansi-html
*.ps1
*.gz
my-app/node_modules/.cache/terser-webpack-plugin/index-v5/4f/e8/bccec0a0caed06c1c9e2ac9bb2ec9ff6a1daee188fa6ba209935a1c5995e
my-app/node_modules/.cache/terser-webpack-plugin/index-v5/fd/dc/0b9d5e7a9641407fe3dfe8003bedf15bbbdd0e71e550b978ec79787d4a61
